{% extends 'base.html.twig' %}

{% block title %}Hypnos | Nos Hôtels{% endblock %}

{% block content %}
    <main>
        <article class="container">
            <h1 class="my-4 rounded-3 text-center p-3 bg-info text-dark">Nos Hôtels</h1>
            <hr class="w-25 m-auto my-2 text-success mb-4">
            <div class="row">
                {% for hotel in  hotels %}
                    <section class=" col-md-4 mb-4 ">
                        <div class="card bg-success text-color">
                        <img class="img-fluid" src="{{ vich_uploader_asset(hotel, 'imageFiles') }}" alt="{{ hotel.name }}">
                        <h2 class="title mt-3 fs-3 ">{{ hotel.name }}</h2>
                        <span class="text-success ">{{ hotel.city }}</span>
                        <p style="text-align: justify">{{ hotel.description }}</p>
                        <div class="d-flex justify-content-center ">
                            <a href="{{ path('app_hotel_rooms', {'id' : hotel.id}) }}" class="btn btn-info"><i class="fa-solid fa-plus"></i> Voir les suites</a>
                        </div>
                        </div>

                    </section>
                {% endfor %}
            </div>
        </article>
    </main>
{% endblock %}
