{% extends 'base.html.twig' %}

{% block title %}Hypnos | Nous contacter{% endblock %}

{% block content %}
    <main>
        <article class="container mt-3">
            <section class="contact">
            </section>
            <section>
                <div class="col-lg-8 m-auto mt-4">
                    <h2 class="title text-center mb-3">Formulaire de contact</h2>
                    {{ form_start(form, {'attr': {'id' : 'form_contact'} }) }}
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success text-center" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.firstname) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.lastname) }}
                        </div>
                    </div>
                        {{ form_row(form.email) }}
                        {{ form_row(form.subject) }}
                        {{ form_row(form.message) }}
                        {{ form_row(form.accept) }}
                        <div class="d-flex justify-content-start align-items-center">
                            <div class="col-4 col-md-3">
                                {{ form_widget(form.Envoyer) }}
                            </div>
                            <div class="col-4 col-md-2">
                                {{ form_widget(form.Effacer) }}
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </section>
        </article>
    </main>
{% endblock %}
{% block body_javascript %}
    <script type="text/javascript" src="{{ asset('assets/form-contact.js') }}"></script>
{% endblock %}
